In [1]:
import os,sys
#sys.path.append('../core/')

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from importlib import reload

#import arch
#import arch.unitroot as unitroot

#from Leybourne import Leybourne
#import talib as tb

#import sklearn
#from sklearn.linear_model import LinearRegression

#import statsmodels.tsa.stattools as ts

#from scipy.stats import kstest
#import shelve

#from collections import Counter

#import colorednoise as cn

#import itertools

#import xlrd

#from datetime import date,datetime

#from xlrd import open_workbook,xldate_as_tuple
#import xlwt

import numpy as np
#from collections import  Counter

In [2]:
#step 1
wdir =os.getcwd()+'/raw_data.tsv'
data = pd.read_csv(wdir,sep="\t", header=0)

In [3]:
year = 2018
locals()['tran_num'+str(year)] = 0
for i in range(len(data.date)):
    if data.date[i][:4]==str(year):
        locals()['tran_num'+str(year)]=locals()['tran_num'+str(year)]+1
    else:
        print(str(year)+'年のトランザクション数が'+str(locals()['tran_num'+str(year)]))
        year=year+1
        locals()['tran_num'+str(year)] = 1
print(str(year)+'年のトランザクション数が'+str(locals()['tran_num'+str(year)]))

2018年のトランザクション数が168795
2019年のトランザクション数が324883
2020年のトランザクション数が479321

In [ ]:
#step 2

In [4]:
del_null = list(np.where(data.sales.isnull().values==True)[0])
del_mil = list(np.where(data.sales.values>1000000)[0])
del_row = del_null+del_mil
data = data.drop(index = del_row)
data.index=range(data.shape[0])

In [ ]:
#step 3
'''
brand_name	brand_name_en
ユニクロ	ＵＮＩＱＬＯ
ジーユー	ＧＵ
プラステ	ＰＬＳＴ
ミーナ	ｍｉｎａ
セオリー	Ｔｈｅｏｒｙ
ユニクロ　ジーユー　オンライン	ＵＮＩＱＬＯ　ＧＵ　ＯＮＬＩＮＥ
'''

In [5]:
brand_nm = ['ユニクロ',  'ジーユー', 'プラステ', 'ミーナ', 'セオリー', 'ユニクロ　ジーユー　オンライン']
brand_en = ['ＵＮＩＱＬＯ', 'ＧＵ', 'ＰＬＳＴ', 'ｍｉｎａ', 'Ｔｈｅｏｒｙ', 'ＵＮＩＱＬＯ　ＧＵ　ＯＮＬＩＮＥ']

In [6]:
store = []
brand = []
for nm in range(len(brand_nm)):
    b_nm1 = list(np.where(data.store_name.str.contains(brand_nm[nm]).values==True)[0])
    b_nm2 = list(np.where(data.store_name.str.contains(brand_en[nm]).values==True)[0])
    b_nm = b_nm1+b_nm2
    b_store=list(set(list(data.store_name[b_nm].values)))
    b_brand=[brand_nm[nm]]*len(b_store)
    store = store+b_store
    brand = brand+b_brand 

brand_store_map = pd.DataFrame({'brand_name':brand,'store_name':store })

In [126]:
os.makedirs(os.getcwd()+'/output')
brand_store_map.to_csv(os.getcwd()+'/output/brand_store_map.tsv', sep="\t")

In [128]:
#step4
Column Name	Type	Notes
quarter	date/str	yyyy-mm (四半期の最後の月）
sales	int	
number_of_transactions	int	
number_of_users	int

In [7]:
data.date = data.date.str.replace(r'-','')

In [8]:
data1 = data.set_index(['date'])

In [26]:
start = ['0101','0401','0701','1001']
end = ['0330','0630','0930','1230']
quat = []
user_num =  []
tran_num = [] 
sales_total = []
for year in [2018,2019,2020]:
    for qt in range(4):
        s_date = str(year)+start[qt]
        e_date = str(year)+end[qt]
        data_sub = data1.loc[s_date:e_date]
        user_num.append(len(list(set(list(data_sub.user_id.values)))))
        tran_num.append(len(data_sub.sales))
        sales_total.append(int(data_sub.sales.sum()))
        quat.append(str(year)+'-'+end[qt][:2])

In [30]:
aggregation = pd.DataFrame({'quarter':quat,'sales':sales_total,'number_of_transactions':tran_num , 'number_of_users':user_num })
aggregation = aggregation.set_index(['quarter'])
aggregation = aggregation.iloc[1:,:]

In [33]:
aggregation.to_csv(os.getcwd()+'/output/aggregation.csv')

In [ ]:
#step5

In [35]:
disclosure = pd.read_csv('https://cdn.kibe.la/media/shared/12170/747817e9-455e-49eb-acb3-73a6c5abeec7/30026/attachment.csv')

In [41]:
loc = list(np.where(disclosure.ticker_code.values==9983)[0])
disclosure1 = disclosure.loc[loc,:]

In [42]:
disclosure1

     disclosure_id  ticker_code  quarter          sales
360            361         9983  2016-03   600757400000
361            362         9983  2016-06   605084500000
362            363         9983  2016-09   602923000000
363            364         9983  2016-12   701499200000
364            365         9983  2017-03   603654900000
365            366         9983  2017-06   687465400000
366            367         9983  2017-09   705920500000
367            368         9983  2017-12   807239500000
368            369         9983  2018-03   771635600000
369            370         9983  2018-06   925749900000
370            371         9983  2018-09   807401300000
371            372         9983  2018-12   993399800000
372            373         9983  2019-03  1029590100000
373            374         9983  2019-06  1376359000000
374            375         9983  2019-09  1465923800000
375            376         9983  2019-12  1213914700000
376            377         9983  2020-03  1873590000000
377            378         9983  2020-06  1781566000000
378            379         9983  2020-09  1928135000000
379            380         9983  2020-12  2079803000000